.card {
    width: fit-content;
}

.projects-github-icon svg {
    color: var(--accent-color);
    transition: color 0.3s ease-in-out;
}

.projects-github-icon:hover svg {
    color: var(--accent-color-2);
}
