.about-me {
    margin-right: 33.3%;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.about-me-text {
    margin: 0;
}

.text-section {
    padding: 2rem 0;
}

.technologies {
    justify-content: space-between;
    line-height: 2;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.technology-column {
    list-style-type: circle;
}

@media screen and (max-width: 960px) {
    .about-me {
        margin-right: 0;
    }
    .technologies {
        max-width: 80%;
    }
}
