.about-me {
    max-width: 900px;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.about-me-text {
    margin: 0;
}

.text-section {
    padding: 2rem 0;
}

.technologies {
    justify-content: space-between;
    line-height: 2;
    padding: 1rem 0;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.technology-column {
    list-style-type: circle;
}

@media screen and (max-width: 960px) {
    .about-me {
        margin-right: 0;
    }
    .technologies {
        max-width: 80%;
        padding-inline-start: 0;
    }
}

@media screen and (max-width: 850px) {
    .technology-item {
        font-size: 14px;
    }
}
