.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-right: 33.3%;
}

.intro p {
    padding: 2rem 0;
}

.btn-email {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-family: 'Roboto Mono';
    font-weight: 700;
    padding: 1em 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: 2px solid var(--primary-color);
    border-radius: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 155px;
    height: 55px;
}

.btn-email:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.cursor-blink {
    border-right: 2px solid;
    padding-right: 0.15em;
    animation: typing 2s steps(18), cursor 0.85s ease-in-out infinite alternate;
}

.text-and-btn {
    height: auto;
    width: fit-content;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .intro {
        margin-right: 0;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
