#root {
    padding: 0 8rem;
    height: 100%;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

p {
    line-height: 1.5;
}

h1 {
    line-height: 0;
}

@media screen and (max-width: 960px) {
    #root {
        padding: 0 1rem;
    }
}

.bold {
    font-weight: 700;
}

.highlight {
    color: var(--accent-color);
}

.highlight-2 {
    color: var(--accent-color-2);
}
